<% provide(:title, "Signup")%>
<div class="medium-6 medium-centered">
    <h1>Create an Account Here</h1>
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="medium-6 columns">
                <%= f.label :first_name %>
                <%= f.text_field :f_name, placeholder: "Add first name" %>
            </div>

            <div class="medium-6 columns">
                <%= f.label :last_name %>
                <%= f.text_field :l_name, placeholder: "Add last name placeholder" %>
            </div>

            <div class="medium-12 columns">
                <%= f.label :email %>
                <%= f.email_field :email %>
            </div>

            <div class="medium-12 columns">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>

            <div class="medium-12 columns">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>

            <div class="medium-12 columns">
                <%= f.submit "Register", class: "button" %>
            </div>

        <% end %>
</div>
