<% provide(:title, @user.f_name)%>
<div class="row">
    <div class="medium-12">
        <div class="medium-4 columns">
            <p>Name: <%= @user.f_name %></p>
            <p>Email: <%= @user.email %></p>
            <%# <p> <%= link_to "Post Video", "#" %1></p> %>

            <p> <%= render 'shared/video_form' %></p>
        </div>
        <div class="medium-8 columns">
            <% if @user.videos.any? %>
                <h3>Videos( <%= @user.videos.count %> )</h3>
                <ol class="videos">
                    <%= render @videos %>
                </ol>
                <% end %>
        </div>
    </div>
    <div>
    </div>
