<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title))  %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render 'layouts/partials/header' %>
      <div>
      <% flash.each do |msg_type, message|%>
          <div id="msg" class="alert <%= msg_type %>">
          <%= message %>
          </div>
          <% end %>
          </div>

      <div>
    <%= yield %>
    </div>

  </body>
</html>
